@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SlothFlyingWeb</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/all.css">
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/all.min.css">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navigation.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="filter"></div>
    @{
        string controller = ViewContext.RouteData.Values["Controller"].ToString();
        // user navigation bar
        if (("User" == controller || "Lab" == controller) && SessionExtensions.GetInt32(Context.Session, "Id") != null)
        {
            <header>
                <partial name="~/Views/Shared/_NavigationUser.cshtml" />
            </header>
        }
    }
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
