@model SlothFlyingWeb.Models.User

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

@{
    ViewData["Title"] = "Login";
}


<div class="body">
    <form method="POST" asp-controller="User" asp-action="Login" class="container">
      <img src="~/assets/images/brand.jpg" alt="logo" class="logo" />
      <div class="login-form">
        <div class="input-field">
          <label class="icon-input" asp-for="Email"><i class="fas fa-envelope"></i></label>
          <input type="email" placeholder="Email" id="Email" asp-for="Email"/>
        </div>
        <div class="input-field">
          <label class="icon-input" asp-for="Password"><i class="fas fa-lock"></i></label>
          <input type="password" placeholder="Password" id="Password" asp-for="Password"/>
        </div>
      </div>
      @if (ViewBag.MessageError != null)
      {
        <div class="message_error">@ViewBag.MessageError</div>
      }
      <input type="submit" value="Login" id="submit"/>
      <p>Don't have an account? <a asp-controller="User" asp-action="Register" id="to-sign-up">Sign up here</a></p>
    </form>
</div>