@model IEnumerable<User>;

@{
    ViewData["Title"] = "Search";
}

@section Styles {
<link rel="stylesheet" href="~/css/search.css" />
}

<div class="container">
    <div class="search-container">
        <img src="~/assets/images/brand.jpg" alt="logo" class="search-img" />
        <div class="search">
            <input type="text" placeholder="Search Users" name="search" id="input" onkeyup="enterTrigger(event);"
                required>
            <button type="button" onclick="SearchResult();" id="search-button"><i class="fa fa-search"></i></button>
        </div>
        <div id="search-result"></div>
        <div id="loader" class="loader-disable"></div>
    </div>
</div>

@section Scripts {
<script src="~/js/search.js"></script>
}