@model SlothFlyingWeb.Models.Lab

@{
    ViewData["Title"] = "Edit Items";
}

@section Styles{
<link rel="stylesheet" href="#">
}

<form method="POST" asp-controller="LabAdmin" asp-action="EditItem">
    <input type="number" asp-for="Amount">
    <input type="submit">
</form>