@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
    <a asp-area="" asp-controller="User" asp-action="Login">Login</a>
</div>
