@{
  ViewData["Title"] = "Home Page";
}

@section Styles {
<link rel="stylesheet" href="~/css/home.css" />
}

<div class="body">
  <div class="container">
    <img src="~/assets/images/brand.jpg" alt="logo" class="logo" />
    <div class="container-label">
      <div class="label">Welcome To<br />Sloth Flying Laboratory</div>
      <a asp-controller="User" asp-action="Login" id="login" class="start">Let’s Start</a>
    </div>
  </div>
  <button class="btn-member" id="myBtn" onclick="visibleModal();">
    <i class="fas fa-user-friends"></i>
    <span>Members</span>
  </button>
</div>

<partial name="~/Views/Home/_MemberModal.cshtml" />

@section Scripts {
<script src="~/js/home.js"></script>
}