@{
    ViewData["Title"] = "Lab";
}

@section Styles{
    <link rel="stylesheet" href="~/css/lab.css">
}

<div class="container">
    <div class="lab">
        <div>
            <img src="../assets/Oscilloscope.png" alt="logo" class="lab-img">
        </div>
        <div>
            <div>Laboratory 1</div>
            <div>Oscilloscope</div>
            <button type="button" onclick="window.location.href='lab-view.html'">View</button>
        </div>
    </div>
    <div class="lab">
        <div>
            <img src="../assets/Digital-multimeter.jpg" alt="logo" class="lab-img">
        </div>
        <div>
            <div>Laboratory 2</div>
            <div>Multimeter</div>
            <button type="button">View</button>
        </div>
    </div>
    <div class="lab">
        <div>
            <img src="../assets/Rasberry_Pi.jpg" alt="logo" class="lab-img">
        </div>
        <div>
            <div>Laboratory 3</div>
            <div>Raspberry Pi</div>
            <button type="button">View</button>
        </div>
    </div>
    <div class="lab">
        <div>
            <img src="../assets/Arduino.jpg" alt="logo" class="lab-img">
        </div>
        <div>
            <div>Laboratory 4</div>
            <div>Arduino</div>
            <button type="button">View</button>
        </div>
    </div>
    <div class="lab">
        <div>
            <img src="../assets/Router.jpg" alt="logo" class="lab-img">
        </div>
        <div>
            <div>Laboratory 5</div>
            <div>Router</div>
            <button type="button">View</button>
        </div>
    </div>
</div>