.header-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

table {
  display: grid;
  margin: 50px 7.5%;
  border-collapse: collapse;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  background-color: #ffffff;
}

thead,
tbody,
tr {
  display: contents;
}

th {
  background-color: var(--blackgray);
  color: #ffffff;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  padding: 0px 20px;
  /*margin-bottom: 20px;*/
}

td {
  border-bottom: 1px solid var(--blackgray);
  padding: 15px 20px;
}

th, td {
  display: inline-flex;
  align-items: center;
}

/*td:not(:nth-child(6n+6)){
  line-height: 28px;
}*/

th:first-child, th:last-child,
td:first-child, td:last-child {
  justify-content: center;
}

/*.status {
  padding: 0 20px;
}*/

.status > span {
  padding: 8px 0;
  width: 120px;
  color: #ffffff;
  border-radius: 15px;
  background-color: var(--gray);
  text-align: center;
}

.status > .using {
  background-color: var(--green);
}

.status > .coming {
  background-color: var(--blue);
}

.icon i {
  font-size: 32px;
  color: var(--red);
  cursor: pointer;
}

.icon i:active {
  color: var(--darkred);
}
