.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 7.5% 2% 7.5%;
}

.book-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}

table {
  min-width: 835px;
}

table,
th,
td {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 1% 0;
}

tr:first-child > th:first-child {
  width: 10%;
}

tr:first-child > th {
  width: 4%;
}

th {
  background-color: var(--blackgray);
  color: white;
}

td {
  background-color: #49b84e;
}

.not-enable {
  background-color: #e8ebf4;
}

.late {
  background-color: #6d7185;
}

.booked {
  background-color: #d2d03a;
}

.full,
.lab-close {
  background-color: #ba4157;
}

.title {
  text-align: center;
  width: 100%;
  padding-bottom: 1%;
  font-weight: bold;
}

.title > * {
  padding-bottom: 10px;
}

.container input[type="date"],
select {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-size: 20px;
}

.container button {
  padding: 10px 40px;
  background: var(--blue);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  border: none;
  box-shadow: 0 4px 4px 0 var(--blueshadow);
}

.book {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-bottom: 30px;
}

.book-inline {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  position: relative;
}

.add {
  color: var(--green);
}

.remove {
  color: var(--red);
}

button:hover,
.add:hover,
.remove:hover,
select,
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

button:active {
  background: var(--darkblue);
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

.message-error {
  color: var(--red);
  background-color: #f7d7da;
  border: 1px solid var(--red);
  border-radius: 5px;
  padding: 1% 2%;
  font-size: 14px;
  margin: 5px 0;
  position: absolute;
  top: 110%;
  left: 0;
}

#book-list-range {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  position: relative;
}

#book-list-range > h2 {
  text-align: center;
}

#book-list-range table {
  display: flex;
  flex-direction: column;
  width: 800px;
}

#book-list-range tr {
  display: contents;
}

#book-list-range th,
#book-list-range td {
  width: 100%;
}

#header-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
  background-color: var(--blackgray);
}

#header-list th {
  color: #ffffff;
  font-size: 24px;
  padding: 15px;
  border: none;
}

#body-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
  overflow-y: overlay;
  max-height: 200px;
}

#body-list td {
  background-color: #ffffff;
  border: none;
  padding: 20px;
  border-bottom: 1px solid var(--blackgray);
}

@media screen and (max-width: 1200px) {
  .book-table {
    align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .book-inline {
    flex-wrap: wrap;
    row-gap: 30px;
    max-width: 300px;
  }
}

@media screen and (max-width: 370px) {
  .book-inline {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    max-width: 300px;
    align-items: flex-start;
  }

  .message-error {
    top: 100%;
  }

  .book-inline:first-child > .add-remove::before{
    content: "Add Booklist ";
    white-space: pre;
  }

  .book-inline:not(:first-child) > .add-remove::before{
    content: "Remove This ";
    white-space: pre;
  }
}
