.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.search {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  border: solid 1px var(--green);
  border-radius: 50px;
}

.search input[type="text"] {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  width: 400px;
  outline: none;
}

.search input[type="text"].empty {
  font-family: FontAwesome, "Roboto", sans-serif;
  border-radius: 50px;
}

.search-img {
  width: 200px;
  border-radius: 50%;
}

.user-container {
  display: flex;
  align-items: center;
  column-gap: 2vh;
  padding: 15px 30px;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  background-color: #ffffff;
  filter: drop-shadow(0 0.2rem 0.25rem var(--shadow));
}

.information {
  display: flex;
  column-gap: 2vh;
  row-gap: 1vh;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-container:hover {
  cursor: pointer;
  color: var(--green);
}

.user-container:active {
  color: #000000;
}

@media screen and (max-width: 499px) {
  .search input[type="text"] {
    width: 300px;
    font-size: 18px;
  }

  .search-img {
    width: 160px;
  }

}