@font-face {
  font-family: "Cherry Bomb";
  src: url("../assets/fonts/CherryBomb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: FontAwesome;
  src: url("../assets/fonts/fontawesome/webfonts/fa-solid-900.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: sticky;
  top: 0;
}

main {
  width: 100%;
  height: 100%;
}

:root {
  --blue: #0275d8;
  --blue80: rgba(2, 117, 217, 0.5);
  --blueshadow: rgba(0, 47, 80, 0.2);
  --darkblue: #002f50;
  --red: #dd3631;
  --darkred: #5c1714;
  --redshadow: rgba(102, 26, 26, 0.2);
  --whitegray: #efefef;
  --shadow: rgba(0, 0, 0, 0.25);
  --blackgray: #333333;
  --green: #28a745;
  --darkgreen: #10471d;
  --greenshadow: rgba(40, 167, 69, 0.2);
  --white80: rgba(255, 255, 255, 0.5);
  --gray: #6c757d;
}

.filter {
  background-color: var(--white80);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}
