.head {
  display: flex;
  justify-content: flex-start;
  margin: 50px 7.5% 0;
  height: 60px;
}

.head > * {
  width: 200px;
  color: var(--blackgray);
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0 10px;
}

.head a {
  text-decoration: none;
}

.head > * > * {
  margin: 0 4px;
}

.head > .active {
  text-decoration: underline;
}

.head > .click {
  background-color: var(--whitegray);
  cursor: pointer;
}

.head > .click:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 7.5% 60px 7.5%;
  background-color: #ffffff;
}

.container * {
  margin: 0 0;
}

.header-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 230px);
  width: 100%;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 7.5%;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  background-color: #ffffff;
  width: 100%;
  height: calc(100vh - 230px);
}

tr {
  display: contents;
}

thead {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  background-color: var(--blackgray);
}

tbody {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-bottom: 100px;
}

tr {
  display: contents;
}

th,
td {
  display: inline-flex;
  align-items: center;
}

th {
  background-color: var(--blackgray);
  color: #ffffff;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
}

td {
  border-bottom: 1px solid var(--blackgray);
  padding: 15px 0px;
}

th:first-child,
th:last-child,
td:first-child,
td:last-child {
  justify-content: center;
}

.status > span {
  padding: 8px;
  width: 120px;
  color: #ffffff;
  border-radius: 15px;
  background-color: var(--gray);
  text-align: center;
}

.status > .using {
  background-color: var(--green);
}

.status > .coming {
  background-color: var(--blue);
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon i {
  font-size: 32px;
  color: var(--red);
  cursor: pointer;
}

.icon i:active {
  color: var(--darkred);
}

.tooltip {
  visibility: hidden;
  background-color: #ffffff;
  color: var(--blackgray);
  border: solid 1px var(--blackgray);
  font-size: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  position: absolute;
  margin-top: -25px;
}

.icon:hover .tooltip{
  visibility: visible;
}

.bottom {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 8;
  height: 50px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 699px) {
  .head {
      justify-content: space-between;
  }

  #profile_nav, #booklist_nav {
      width: 50%;
  }
}