* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

body {
    background: url("../assets/bg-1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 7.5% 2% 7.5%;
} 
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 1% 0;
}

tr:first-child > th:first-child {
    width: 10%;
}

tr:first-child > th{
    width: 4%;
}

th {
    background-color: #333333;
    color: white;
}

td {
    background-color: #5CB85C;
}

.not-enable {
    background-color: #EFEFEF;
}

.full, .lab-close {
    background-color: #B85C5C;
}

.title {
    text-align: center;
    width: 100%;
    padding-bottom: 1%;
    font-weight: bold;
    
}

.title > p {
    padding-bottom: 10px;
}

input[type="date"], select {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-size: 20px;
}

input[type="submit"] {
    padding: 10px 40px;
    background: #0275d8;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 47, 80, 0.2);
}

.book {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.book-form {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

input[type="submit"]:hover, .add:hover, select, 
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type="submit"]:active {
    background: #002f50;
}

input:focus, select:focus {
    outline: none;
}